:root {
  --primary: #27ae60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--tertiary);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--tertiary);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}
